<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zenheart.generator.modules.locale.mapper.ISettingMapper">

    <select id="searchAll" resultType="xyz.zenheart.generator.pojo.entity.SettingEntity">
        SELECT *
        FROM setting
    </select>

    <update id="selectedModify">
        UPDATE setting
        SET selected = CASE WHEN database_type = #{type} THEN 1 ELSE 0 END
    </update>

    <update id="updateSetting">
        UPDATE setting
        SET directory_location = #{setting.directoryLocation},
            database_url       = #{setting.databaseUrl},
            username           = #{setting.username},
            password           = #{setting.password},
            schema             = #{setting.schema},
            module_name        = #{setting.moduleName},
            package_path       = #{setting.packagePath},
            table_prefix       = #{setting.tablePrefix}
        WHERE database_type = #{setting.databaseType}
    </update>


</mapper>
